{% extends 'base.html' %}

{% load static iam_tags %}

{% block extra_head %}
<title>ERP &mdash; Quadro &mdash; {{ object.title }}</title>
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/jkanban/jkanban.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/quill/typography.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/quill/katex.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/quill/editor.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/css/pages/app-kanban.css' %}" />
<style>
    .kanban-board {
        border: 1px solid #535381;
        border-radius: 5px;
        min-height: 500px!important;
        padding: .5rem;
    }
</style>
{% endblock extra_head %}

{% block content %}
<div class="container-xxl">
    <div class="row">
        <div class="col-12">
            <h4 class="py-3 mb-4"><span class="text-muted fw-light">Quadro /</span> {{ object.title }}</h4>
            <div class="row card">
                <div class="col-12 p-3">
                    {% if user|has_perm:'core.update_board' %}
                    <div class="btn-group flex-wrap">
                        <a href="{% url 'core:board-update' object.pk %}" class="btn btn-primary" tabindex="0"
                            role="button">
                            <span>
                                <i class="bx bx-edit me-md-1"></i>
                                <span class="d-md-inline-block d-none">Editar</span>
                            </span>
                        </a>
                    </div>
                    {% endif %}
                    {% if user_can_view or user.is_superuser %}
                    <div class="btn-group flex-wrap">
                        <a href="{% url 'core:board-kanban' object.pk %}" class="btn btn-primary" tabindex="0"
                            role="button">
                            <span>
                                <i class="bx bx-show me-md-1"></i>
                                <span class="d-md-inline-block d-none">Ver</span>
                            </span>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="col-12 p-3 table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Título</th>
                                <td>{{ object.title }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Descrição</th>
                                <td>{{ object.description }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Unidade</th>
                                <td>{{ object.branch }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Criado em</th>
                                <td>{{ object.created_at }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Colunas</th>
                                <td>
                                    {% for column in object.columns.all %}
                                    {{ column.title }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row card mt-4">
        <div class="col-12 p-3">
            <h3 class="text-center m-2 p-2">Preview</h3>
            {% csrf_token %}
            <div class="app-kanban" data-board-id="{{ object.pk }}">

                <!-- Kanban Wrapper -->
                <div class="kanban-wrapper"></div>
                
                <!-- Modal -->
                <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl modal-simple">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <h5 class="modal-title" id="taskModalLabel">Detalhes da Tarefa</h5>
                                <h5 id="task-title"></h5>
                                <p><strong>Comentários:</strong> <span id="task-comments"></span></p>
                                <p><strong>Badge:</strong> <span id="task-badge"></span></p>
                                <p><strong>Data de vencimento:</strong> <span id="task-due-date"></span></p>
                                <p><strong>Anexos:</strong> <span id="task-attachments"></span></p>
                                <p><strong>Responsável:</strong> <span id="task-assigned"></span></p>
                                <p><strong>Membros:</strong> <span id="task-members"></span></p>
                                <p><strong>Criada em:</strong> <span id="task-created-at"></span></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <form class="kanban-add-new-board">
                    <label class="kanban-add-board-btn" for="kanban-add-board-input">
                        <i class="bx bx-plus me-1"></i>
                        <span class="align-middle">Nova coluna</span>
                    </label>
                    <input type="text" class="form-control w-px-250 kanban-add-board-input mb-2 d-none"
                        placeholder="Adicionar título à nova coluna" id="kanban-add-board-input" required />
                    <div class="mb-3 kanban-add-board-input d-none">
                        <button class="btn btn-primary btn-sm me-2">Adicionar</button>
                        <button type="button"
                            class="btn btn-label-secondary btn-sm kanban-add-board-cancel-btn">
                            Cancelar
                        </button>
                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'sneat-template/assets/vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/jkanban/jkanban.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/quill/katex.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/quill/quill.js' %}"></script>
<script src="{% static 'sneat-template/assets/js/app-kanban.js' %}"></script>
{% endblock extra_scripts %}