{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<title>Kanban &mdash; {{ object.title }}</title>
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/jkanban/jkanban.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/quill/typography.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/quill/katex.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/quill/editor.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/css/pages/app-kanban.css' %}" />
{% endblock extra_head %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    {% csrf_token %}
    <div class="app-kanban" data-board-id="{{ object.pk }}">

        <!-- Kanban Wrapper -->
        <div class="kanban-wrapper"></div>

        <!-- Modal -->
        <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl modal-simple">
                <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <h5 class="modal-title" id="taskModalLabel">Detalhes da Tarefa</h5>
                        <h5 id="task-title"></h5>
                        <p><strong>Comentários:</strong> <span id="task-comments"></span></p>
                        <p><strong>Badge:</strong> <span id="task-badge"></span></p>
                        <p><strong>Data de vencimento:</strong> <span id="task-due-date"></span></p>
                        <p><strong>Anexos:</strong> <span id="task-attachments"></span></p>
                        <p><strong>Responsável:</strong> <span id="task-assigned"></span></p>
                        <p><strong>Membros:</strong> <span id="task-members"></span></p>
                        <p><strong>Criada em:</strong> <span id="task-created-at"></span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- / Content -->
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'sneat-template/assets/vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/jkanban/jkanban.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/quill/katex.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/quill/quill.js' %}"></script>
<script src="{% static 'sneat-template/assets/js/app-kanban-user.js' %}"></script>
{% endblock extra_scripts %}