{% extends 'base.html' %}
{% load static iam_tags %}

{% block extra_head %}
<title>ERP &mdash; Setores</title>
{% endblock extra_head %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Setores /</span> Lista</h4>
    <!-- Departments List Table -->
    <div class="card table-responsive-md">
        <div class="row p-3">
            {% if user|has_perm:'accounts.add_department' %}
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start">
                <a href="{% url 'accounts:department_create' %}" class="btn btn-secondary btn-primary mb-2" role="button">
                    <span>
                        <i class="bx bx-plus me-md-1"></i>
                        <span class="d-md-inline-block d-none">
                            Criar setor
                        </span>
                    </span>
                </a>
            </div>
            {% endif %}
            <form class="col-12 col-md-6 d-flex align-items-center" method="get">
                <input type="search" class="form-control me-2" placeholder="Pesquisar setor" name="search"
                    value="{{ request.GET.search }}">
                <button class="btn btn-primary">
                    <i class="bx bx-search"></i>
                </button>
            </form>
        </div>
        <table class="table border-top">
            <thead>
                <tr>
                    <th rowspan="1" colspan="1" style="width: 30%;">Setor</th>
                    <th rowspan="1" colspan="1" style="width: 30%;">E-mail</th>
                    {% if user|has_perm:'auth.update_department' or user|has_perm:'auth.delete_department' %}
                    <th rowspan="1" colspan="1" style="width: 30%;">Quantidade de Usuários</th>
                    <th rowspan="1" colspan="1" style="width: 10%;" aria-label="Ações">Ações</th>
                    {% else %}
                    <th rowspan="1" colspan="1" style="width: 40%;">Quantidade de Usuários</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for department in object_list %}
                <tr>
                    <td class="text-capitalize">{{ department.name }}</td>
                    </td>
                    <td>{{ department.email }}</td>
                    <td>
                        <div class="d-flex align-items-center avatar-group">
                            {% for user in department.user_set.all|slice:":5" %}
                                <div class="avatar">
                                    <a href="{{ user.get_absolute_url }}">
                                        <img src="{{ user.profile_picture.url }}" alt="Avatar" class="rounded-circle pull-up" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="{{ user.get_full_name }}">
                                    </a>
                                </div>
                            {% empty %}
                                <div class="avatar">
                                    <span class="avatar-initial rounded-circle pull-up bg-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Nenhum usuário">0</span>
                                </div>
                            {% endfor %}
                            {% with remaining_users=department.user_set.count|add:"-5" %}
                                {% if remaining_users > 0 %}
                                    <div class="avatar">
                                        <span class="avatar-initial rounded-circle pull-up bg-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Mais {{ remaining_users }}">+{{ remaining_users }}</span>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </td>
                    {% if user|has_perm:'auth.update_department' or user|has_perm:'auth.delete_department' %}
                    <td>
                        <div class="d-flex align-items-center">
                            {% if user|has_perm:'auth.update_department' %}
                            <a href="{% url 'accounts:department_update' department.pk %}" data-bs-toggle="tooltip"
                                class="text-body" data-bs-placement="top" aria-label="Editar Setor"
                                data-bs-original-title="Editar Setor"><i class="bx bx-pencil mx-1"></i></a>
                            {% endif %}
                            {% if user|has_perm:'auth.delete_department' %}
                            <a href="#departmentDeleteModel" data-bs-toggle="tooltip" class="text-body"
                                data-bs-placement="top" aria-label="Deletar Setor"
                                data-bs-original-title="Deletar Setor"><i class="bx bx-trash mx-1"></i></a>
                            {% endif %}
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Nenhum setor encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'snippets/pagination.html' %}
    </div>
</div>
<!-- / Content -->
{% endblock %}