{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_head %}
<title>
  ERP &mdash; 
  {% if object %}
  Editar Endereço
  {% else %}
  Criar Endereço
  {% endif %}
</title>
{% endblock extra_head %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row justify-content-center py-3">
    <div class="col-12 col-md-8">
      <div class="text-center my-2">
        {% if object %}
        <h1>Editar Endereço</h1>
        {% else %}
        <h1>Criar Endereço</h1>
        {% endif %}
      </div>

      <form method="post" id="branch_form" class="mt-4">
        {% csrf_token %}
        <div class="row justify-content-center g-3">
          <div class="col-12 px-4">

            {{ form|crispy }}

            <div class="submit-row">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">
                Criar
              </button>
                Cancelar
              </button>
              {# <a href="{% url 'resolve_crm:address_list' %}">Voltar para a lista</a> #}
            </div>

          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    document.getElementById('id_zip_code').addEventListener('blur', function () {
        const cep = this.value.replace(/\D/g, ''); // Remove caracteres não numéricos
        const fieldsToDisable = ['id_zip_code', 'id_street', 'id_neighborhood', 'id_city', 'id_state', 'id_complement', 'id_country'];
        const submitButton = document.querySelector('form button[type="submit"]');
        const originalButtonContent = submitButton.innerHTML; // Armazena o conteúdo original do botão

        // Função para alterar o botão para o indicador de carregamento
        function setLoadingIndicator(isLoading) {
            if (isLoading) {
                submitButton.innerHTML = '<span class="spinner-grow spinner-grow-sm text-secondary me-1" aria-hidden="true"></span> Aguarde...';
                submitButton.disabled = true; // Desativa o botão para evitar múltiplos cliques
            } else {
                submitButton.innerHTML = originalButtonContent; // Restaura o conteúdo original do botão
                submitButton.disabled = false; // Reativa o botão
            }
        }

        function toggleFields(isLoading) {
            fieldsToDisable.forEach(fieldId => {
                const field = document.getElementById(fieldId);
                if (field) {
                    field.disabled = isLoading;
                }
            });
            setLoadingIndicator(isLoading);
        }

        if (cep.length === 8) {
            toggleFields(true); // Desabilita os campos enquanto busca o CEP
            fetch(`https://brasilapi.com.br/api/cep/v1/${cep}`)
                .then(response => response.json())
                .then(data => {
                    if (data.type && data.type === "service_error") {
                        // Trata o erro de serviço
                        console.error('Erro ao buscar o CEP:', data);
                        let errorMessage = 'Todos os serviços de CEP retornaram erro. Por favor, verifique o CEP ou tente novamente mais tarde.';
                        alert(errorMessage);
                    } else {
                        document.getElementById('id_street').value = data.street;
                        document.getElementById('id_neighborhood').value = data.neighborhood;
                        document.getElementById('id_city').value = data.city;
                        document.getElementById('id_state').value = data.state;
                        document.getElementById('id_country').value = "Brasil";
                    }
                })
                .catch(error => console.error('Erro ao buscar o CEP no segundo serviço:', error))
                .finally(() => {
                    toggleFields(false);
                });
        } else {
            alert("CEP inválido. O CEP deve conter 8 dígitos.");
        }
    });
</script>
{% endblock %}