{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
{% endblock %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Endereços /</span> Lista</h4>
    <div class="card">
        <div class="card-datatable table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                <div class="row mx-1">
                    <div
                        class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start gap-3 py-3">
                        <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start mt-md-0 mt-3">
                            <div class="dt-buttons btn-group flex-wrap">
                                <a href="{% url 'accounts:address_create' %}" class="btn btn-primary" tabindex="0"
                                    aria-controls="DataTables_Table_0" role="button"><span><i
                                            class="bx bx-plus me-md-1"></i><span class="d-md-inline-block d-none">Criar
                                            Endereço</span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="invoice-list-table table border-top dataTable no-footer dtr-column"
                    id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 1211px;">
                    <thead>
                        <tr>
                            <th style="width: 10%;">CEP</th>
                            <th style="width: 25%;">Cidade/UF</th>
                            <th style="width: 40%;">Rua</th>
                            <th style="width: 10%;">Nº</th>
                            <th style="width: 10%;">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for address in addresses %}
                        <tr>
                            <td>{{ address.zip_code }}</td>
                            <td>{{ address.city }}/{{ address.state }}</td>
                            <td>{{ address.street }}</td>
                            <td>{{ address.number }}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <a href="{% url 'accounts:address_update' address.pk %}" data-bs-toggle="tooltip" class="text-body" data-bs-placement="top" aria-label="Editar Endereço" data-bs-original-title="Editar">
                                        <i class="bx bx-pencil mx-1"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'snippets/pagination.html' %}
            </div>
        </div>
    </div>
</div>
<!-- / Content -->
{% endblock %}

