{% extends 'base.html' %}
{% load static iam_tags %}

{% block extra_head %}
<title>ERP &mdash; Unidades</title>
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
{% endblock %}

{% block content %}

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Unidades /</span> Lista</h4>
        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="row mx-1">
                        {% if user|has_perm:'accounts.add_branch' %}
                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start gap-3 py-3">
                            <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start mt-md-0 mt-3">
                                <div class="dt-buttons btn-group flex-wrap">
                                    <a href="{% url 'accounts:branch_create' %}" class="btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" role="button"><span><i class="bx bx-plus me-md-1"></i><span class="d-md-inline-block d-none">Criar Unidade</span></span></a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <table class="invoice-list-table table border-top dataTable no-footer dtr-column"
                        id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 1211px;">
                        <thead>
                            <tr>
                                <th style="width: 20%;">Nome</th>
                                <th style="width: 40%;">Endereço</th>
                                <th style="width: 20%;">Proprietários</th>
                                {% if user|has_perm:'accounts.change_branch' %}
                                <th style="width: 20%;">Ações</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for branch in object_list %}
                            <tr>
                                <td>
                                    <a href="#" class="d-flex justify-content-start align-items-center">
                                        {{ branch.name }}
                                    </a>
                                </td>
                                <td>{{ branch.address }}</td>
                                <td>
                                    <ul class="list-unstyled m-0 d-flex align-items-center avatar-group">
                                        {% for owner in branch.owners.all %} 
                                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar pull-up" aria-label="{{ owner.get_full_name }}" data-bs-original-title="{{ owner.get_full_name }}">
                                            <a href="{{ owner.get_absolute_url }}">
                                                <img class="rounded-circle" src="{{ owner.profile_picture.url }}" alt="Avatar">
                                            </a>
                                        </li>
                                        {% empty %}
                                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar pull-up" aria-label="Sem proprietários" data-bs-original-title="Sem proprietários">
                                            <span class="avatar-initial rounded-circle pull-up bg-secondary">?</span>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                </td>
                                {% if user|has_perm:'accounts.change_branch' %}
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="{% url 'accounts:branch_update' branch.pk %}" data-bs-toggle="tooltip" class="text-body" data-bs-placement="top" aria-label="Editar unidade" data-bs-original-title="Editar">
                                            <i class="bx bx-pencil mx-1"></i>
                                        </a>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'snippets/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
    {% endblock %}

    {% block extra_scripts %}
    <!-- Vendors JS -->
    <!-- <script src="{% static 'sneat-template/assets/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'sneat-template/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script> -->

    <!-- Page JS -->
    <!-- <script src="{% static 'sneat-template/assets/js/app-invoice-list.js' %}"></script> -->
    {% endblock %}