{% extends 'base.html' %}
{% load iam_tags %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Campanhas /</span> Lista</h4>

    <!-- Invoice List Table -->
    <div class="card">
        <div class="card-datatable table-responsive">
            <div class="card-datatable-header d-flex justify-content-between p-3">
                {% if user|has_perm:'resolve_crm.add_marketingcampaign' %}
                <div class="card-datatable-header-actions">
                    <a href="{% url 'resolve_crm:campaign_create' %}" class="btn btn-primary">Nova Campanha</a>
                </div>
                {% endif %}
                <div class="card-datatable-header-actions">
                    <form method="get">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Pesquisar campanha" name="search" id="search-input" value="{{ request.GET.search }}">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="bx bx-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="invoice-list-table table border-top">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data Inicial</th>
                        <th>Data Final</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for campaign in campaigns %}
                    <tr>
                        <td>{{ campaign.name }}</td>
                        <td>{{ campaign.start_datetime }}</td>
                        <td>{{ campaign.end_datetime }}</td>
                        <td>
                            <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#campaignDetailModal{{ campaign.id }}">
                                <i class="bx bx-detail fs-3"></i>
                            </a>
                            {% if user|has_perm:'resolve_crm.update_marketingcampaign' %}
                            <a href="{% url 'resolve_crm:campaign_update' campaign.pk %}">
                                <i class="bx bx-edit fs-3"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    <div class="modal fade animate__animated animate__rotateInUpLeft" id="campaignDetailModal{{ campaign.id }}"
                        tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="campaignDetailModal{{ campaign.id }}Label">{{ campaign.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <figure class="col-12 figure text-center mb-3">
                                            <img src="{{ campaign.banner.url }}" class="img-fluid" alt="">
                                            <figcaption class="figure-caption fs-5">{{ campaign.description }}</figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'resolve_crm:campaign_update' campaign.pk %}" class="btn btn-warning">Editar</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    document.getElementById('search-input').addEventListener('input', function() {
        if (this.value === '') {
            this.form.submit();
        }
    });
</script>
{% endblock extra_scripts %}