{% extends 'base.html' %}

{% block content %}

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row justify-content-center py-3">
      <div class="col-12 col-md-8">
        <div class="d-flex justify-content-between align-items-center my-2">
          <h1>Editar Usuário</h1>
          <h4>({{ object.username }})</h4>
        </div>
        {% load widget_tweaks %}

        <form method="post" enctype="multipart/form-data" id="user_form">
          {% csrf_token %}

          <!-- Personal Info -->
          <fieldset class="module aligned">
            <h5>Informações Pessoais</h5>
            {% for field in form.visible_fields %}
            {% if field.name in "username complete_name birth_date gender cpf profile_picture" %}
            <div class="form-group mb-3">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% render_field field class="form-control" %}
              {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
          </fieldset>

          <!-- Contact -->
          <fieldset class="module aligned">
            <h5>Contato</h5>
            {% for field in form.visible_fields %}
            {% if field.name in "phone email" %}
            <div class="form-group mb-3">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% render_field field class="form-control" %}
              {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
          </fieldset>

          <!-- Address -->
          <fieldset class="module aligned">
            <h5>Endereço</h5>
            {% for field in form.visible_fields %}
            {% if field.name == "address" %}
            <div class="form-group mb-3">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% render_field field class="form-control" %}
              {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
          </fieldset>

          <!-- Employee Info -->
          <fieldset class="module aligned">
            <h5>Informações do Funcionário</h5>
            {% for field in form.visible_fields %}
            {% if field.name in "contract_type branch department role user_manager hire_date resignation_date" %}
            <div class="form-group mb-3">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% render_field field class="form-control" %}
              {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
          </fieldset>

          <div class="submit-row d-flex justify-content-between align-items-center">
            <button class="btn btn-success" type="submit">Salvar</button>
            <a href="{% url 'accounts:users_list' %}">Voltar para a lista</a>
          </div>
        </form>

      </div>
    </div>
{% endblock content %}