{% extends 'base.html' %}
{% load static iam_tags %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Cargos /</span> Lista</h4>
    <!-- roles List Table -->
    <div class="card table-responsive-md">
        <div class="row p-3">
            {% if user|has_perm:'accounts.add_role' %}
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start">
                <a href="{% url 'accounts:role_create' %}" class="btn btn-secondary btn-primary mb-2" role="button">
                    <span>
                        <i class="bx bx-plus me-md-1"></i>
                        <span class="d-md-inline-block d-none">
                            Criar cargo
                        </span>
                    </span>
                </a>
            </div>
            {% endif %}
            <form class="col-12 col-md-6 d-flex align-items-center" method="get">
                <input type="search" class="form-control me-2" placeholder="Pesquisar cargo" name="search"
                    value="{{ request.GET.search }}">
                <button class="btn btn-primary">
                    <i class="bx bx-search"></i>
                </button>
            </form>
        </div>
        <table class="table border-top">
            <thead>
                <tr>
                    <th rowspan="1" colspan="1" style="width: 40%;">Cargo</th>
                    <th rowspan="1" colspan="1" style="width: 40%;">Quantidade de Usuários</th>
                    <th rowspan="1" colspan="1" style="width: 10%;" aria-label="Ações">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                <tr>
                    <td class="text-capitalize">{{ role.name }}</td>
                    <td>{{ role.user_set.count }}
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <a href="{% url 'accounts:role_update' role.pk %}" data-bs-toggle="tooltip"
                                class="text-body" data-bs-placement="top" aria-label="Editar Cargo"
                                data-bs-original-title="Editar Cargo"><i class="bx bx-pencil mx-1"></i></a>
                            <a href="#roleDeleteModel" data-bs-toggle="tooltip" class="text-body"
                                data-bs-placement="top" aria-label="Deletar Cargo"
                                data-bs-original-title="Deletar Cargo"><i class="bx bx-trash mx-1"></i></a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Nenhum cargo encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'snippets/pagination.html' %}
    </div>
</div>
<!-- / Content -->
{% endblock %}