{% extends 'base.html' %}

{% load static crispy_forms_tags iam_tags %}

{% block extra_head %}
<title>ERP &mdash; Editar {{ object.get_full_name }}</title>
<!-- Vendors CSS -->
<link rel="stylesheet"
  href="{% static 'sneat-template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/typeahead-js/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/bs-stepper/bs-stepper.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/bootstrap-select/bootstrap-select.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/@form-validation/form-validation.css' %}" />
<style>
  #div_id_user_permissions .select2-selection__rendered,
  #div_id_groups .select2-selection__rendered {
    min-height: 200px !important;
  }

  .bs-stepper-header {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    -ms-overflow-style: none;
    overflow-y: hidden;
  }

  .bs-stepper-header::-webkit-scrollbar {
    height: 8px;
    background-color: #FFF;
    border-radius: 50%;
  }

  .bs-stepper-header::-webkit-scrollbar-thumb {
    border-radius: 50%;
    border: 1px solid #FFF;
  }


  .bs-stepper-header {
    scrollbar-color: #FDC600 #FFF;
    scrollbar-width: thin;
  }
</style>
{% endblock extra_head %}

{% block content %}
<div class="row justify-content-center my-3">
  <div class="col-12 col-md-10 mb-4">
    <div class="bs-stepper wizard-numbered mt-2">
      <div class="bs-stepper-header">
        <!-- Passos do Formulário -->
        <div class="step" data-target="#personal-info">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label mt-1">
              <span class="bs-stepper-title">Informações Pessoais</span>
              <span class="bs-stepper-subtitle">Nome, data de nascimento, etc.</span>
            </span>
          </button>
        </div>
        <div class="line"><i class="bx bx-chevron-right"></i></div>
        <div class="step" data-target="#employee-info">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label mt-1">
              <span class="bs-stepper-title">Informações do Funcionário</span>
              <span class="bs-stepper-subtitle">Contrato, departamento, etc.</span>
            </span>
          </button>
        </div>
        <div class="line"><i class="bx bx-chevron-right"></i></div>
        <div class="step" data-target="#contact-info">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label mt-1">
              <span class="bs-stepper-title">Contato</span>
              <span class="bs-stepper-subtitle">Telefone, e-mail, endereço</span>
            </span>
          </button>
        </div>
        <div class="line"><i class="bx bx-chevron-right"></i></div>
        <div class="step" data-target="#permissions">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-circle">4</span>
            <span class="bs-stepper-label mt-1">
              <span class="bs-stepper-title">Permissões</span>
              <span class="bs-stepper-subtitle">Grupos, permissões específicas</span>
            </span>
          </button>
        </div>
      </div>

      <div class="bs-stepper-content">
        <form method="post" enctype="multipart/form-data" id="user_form">
          {% csrf_token %}

          <!-- Informações Pessoais -->
          <div id="personal-info" class="content">
            <div class="content-header mb-3">
              <h6 class="mb-0">Informações Pessoais</h6>
              <small>Nome, data de nascimento, etc.</small>
            </div>
            <div class="row g-3">
              <div class="col-md-6">
                {{ form.username|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.complete_name|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.birth_date|as_crispy_field }}
              </div>
              <div class="col-md-6">
                <div class="col-md-6">
                  <label for="id_gender" class="form-label">Gênero</label>
                  <div id="id_gender" class="d-flex justify-content-start align-items-center">
                    <div class="form-check custom-option custom-option-basic me-3">
                      <label class="form-check-label custom-option-content d-flex align-items-center py-1 px-2"
                        for="gender_male">
                        <input type="radio" class="form-check-input m-0 me-2" name="gender" id="gender_male" value="M"
                          {% if form.gender.value == "M" %}checked{% endif %} />
                        <span class="custom-option-header">
                          <i class="fs-4 bx bx-male me-1"></i>
                          <small>Masculino</small>
                        </span>
                      </label>
                    </div>
                    <div class="form-check custom-option custom-option-basic me-3">
                      <label class="form-check-label custom-option-content d-flex align-items-center py-1 px-2"
                        for="gender_female">
                        <input type="radio" class="form-check-input m-0 me-2" name="gender" id="gender_female" value="F"
                          {% if form.gender.value == "F" %}checked{% endif %} />
                        <span class="custom-option-header">
                          <i class="fs-4 bx bx-female me-1"></i>
                          <small>Feminino</small>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                {{ form.first_document|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.second_document|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.person_type|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.profile_picture|as_crispy_field }}
              </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-primary btn-next">Próximo <i
                  class="bx bx-chevron-right bx-sm me-sm-n2"></i></button>
            </div>
          </div>

          <!-- Informações do Funcionário -->
          <div id="employee-info" class="content">
            <div class="content-header mb-3">
              <h6 class="mb-0">Informações do Funcionário</h6>
              <small>Contrato, departamento, etc.</small>
            </div>
            <div class="row g-3">
              <div class="col-md-6">
                {{ form.contract_type|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.branch|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.department|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.role|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.user_manager|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.hire_date|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.resignation_date|as_crispy_field }}
              </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-primary btn-prev"><i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                Anterior</button>
              <button class="btn btn-primary btn-next">Próximo <i
                  class="bx bx-chevron-right bx-sm me-sm-n2"></i></button>
            </div>
          </div>

          <!-- Contato -->
          <div id="contact-info" class="content">
            <div class="content-header mb-3">
              <h6 class="mb-0">Contato</h6>
              <small>Telefone, e-mail, endereço</small>
            </div>
            <div class="row g-3">
              <div class="col-md-6">
                {{ form.phone|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.email|as_crispy_field }}
              </div>
              <div class="col-12">
                <div class="form-group">
                  {{ form.address.label_tag }}
                  {{ form.addresses|as_crispy_field }}
                  <small class="help-text">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#createAddressModal">Não achou seu endereço?</a>
                  </small>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-primary btn-prev"><i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                Anterior</button>
              <button class="btn btn-primary btn-next">Próximo <i
                  class="bx bx-chevron-right bx-sm me-sm-n2"></i></button>
            </div>
          </div>

          <!-- Permissões -->
          <div id="permissions" class="content">
            <div class="content-header mb-3">
              <h6 class="mb-0">Permissões</h6>
              <small>Grupos, permissões específicas, tipo</small>
            </div>
            <div class="row g-3">
              <div class="col-md-6">
                {{ form.groups|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.user_permissions|as_crispy_field }}
              </div>
              {% if user|has_perm:'accounts.switch_user_activation' %}
              <div class="col-md-6">
                {{ form.is_active|as_crispy_field }}
              </div>
              {% endif %}
              {% if user.is_staff %}
              <div class="col-md-6">
                {{ form.user_types|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.is_staff|as_crispy_field }}
              </div>
                {% if user.is_superuser %}
                <div class="col-md-6">
                  {{ form.is_superuser|as_crispy_field }}
                </div>
                {% endif %}
              {% endif %}
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-primary btn-prev"><i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                Anterior</button>
              <button type="submit" class="btn btn-success btn-submit">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% include "snippets/create_address_modal.html" %}
{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'sneat-template/assets/vendor/libs/bs-stepper/bs-stepper.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'sneat-template/assets/vendor/libs/@form-validation/auto-focus.js' %}"></script>
<script src="{% static 'sneat-template/assets/js/form-wizard-numbered.js' %}"></script>
<script src="{% static 'sneat-template/assets/js/form-wizard-validation.js' %}"></script>
{% endblock extra_scripts %}