{% extends 'base.html' %}
{% load static iam_tags %}

{% block extra_head %}
<title>ERP &mdash; Usuários</title>
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'sneat-template/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
{% endblock %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Usuários /</span> Lista</h4>

    <!-- Users List Table -->
    <div class="card">
        <div class="card-datatable table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                <div class="row p-3 mx-1">
                    {% if user|has_perm:'accounts.add_user' %}
                    <div class="col-12 col-md-6">
                        <a href="{% url 'accounts:user_create' %}" class="btn btn-secondary btn-primary" role="button"><span><i class="bx bx-plus me-md-1"></i><span class="d-md-inline-block d-none">Criar Usuário</span></span></a>
                    </div>
                    {% endif %}
                    <form class="col-12 col-md-6 d-flex justify-content-between" method="get" id="searchForm">
                        <input type="search" class="form-control me-2" placeholder="Pesquisar Usuário" name="search"
                            id="search-input" value="{{ request.GET.search }}">
                        <select id="department-select" name="department" class="form-select me-2">
                            <option value="">Selecionar departamento</option>
                            {% for department in departments %}
                            <option value="{{ department.pk }}" class="text-capitalize" {% if request.GET.department|stringformat:"s" == department.pk|stringformat:"s" %}selected{% endif %}>{{ department.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-sm btn-primary me-1" type="submit">
                            <i class="bx bx-search"></i>
                        </button>
                        <button type="reset" class="btn btn-sm btn-secondary" onclick="cleanForm()">
                            <i class="bx bx-x"></i>
                        </button>
                    </form>
                </div>
                <table class="invoice-list-table table border-top dataTable no-footer dtr-column"
                    id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 1211px;">
                    <thead>
                        <tr>
                            <th>Nome de Usuário</th>
                            <th>Nome Completo</th>
                            <th>Setor</th>
                            <th>Cargo</th>
                            <th>Admissão</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_obj in object_list %}
                        <tr>
                            <td>
                                <span class="badge bg-label-success">{{ user_obj.username }}</span>
                            </td>
                            <td>
                                <div class="d-flex justify-content-start align-items-center">
                                    <div class="avatar-wrapper">
                                        {% if user_obj.profile_picture %}
                                        <img src="{{ user_obj.profile_picture.url }}"
                                            class="avatar pull-up avatar-initial avatar-sm rounded-circle me-2"
                                            alt="{{ user_obj.complete_name }}">
                                        {% else %}
                                        <div class="avatar avatar-sm me-2"><span
                                                class="avatar-initial rounded-circle bg-label-dark">{{ user_obj.username|slice:1 }}</span></div>
                                        {% endif %}
                                    </div>
                                    <div class="d-flex flex-column"><a
                                            href="{% url 'accounts:user_detail' user_obj.username %}"
                                            class="text-body text-truncate"><span class="fw-medium">{{ user_obj.complete_name|default:"&mdash;" }}</span></a><small
                                            class="text-truncate text-muted">{{ user_obj.get_full_name|default:"&mdash;" }}</small></div>
                                </div>
                            </td>
                            <td>{{ user_obj.department|default:"&mdash;" }}</td>
                            <td>{{ user_obj.role|default:"&mdash;" }}</td>
                            <td>{{ user_obj.hire_date|date:"d M Y"|default:"&mdash;" }}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <a href="mailto:{{ user_obj.email }}" data-bs-toggle="tooltip" class="text-body"
                                        data-bs-placement="top" aria-label="Enviar e-mail"
                                        data-bs-original-title="Enviar e-mail"><i class="bx bx-envelope mx-1"></i></a>
                                    <a href="tel:{{ user_obj.phone }}" data-bs-toggle="tooltip" class="text-body"
                                        data-bs-placement="top" aria-label="Ligar" data-bs-original-title="Ligar"><i
                                            class="bx bx-phone mx-1"></i></a>
                                    {% if user|has_perm:'accounts.change_user' or user|has_perm:'accounts.delete_user' %}
                                    <div class="dropdown">
                                        <a href="javascript:;" class="btn dropdown-toggle hide-arrow text-body p-0"
                                            data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            {% if user|has_perm:'accounts.change_user_password' %}
                                            <a href="javascript:;" class="dropdown-item">Mudar senha</a>
                                            {% endif %}
                                            {% if user|has_perm:'accounts.change_user' %}
                                            <a href="{% url 'accounts:user_update' user_obj.username %}"
                                                class="dropdown-item">Editar</a>
                                            {% endif %}
                                            {% if user|has_perm:'accounts.delete_user' %}
                                            <div class="dropdown-divider"></div>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{ user_obj.pk }}"
                                            class="dropdown-item delete-record text-danger">Deletar</a>
                                            <!-- Modal -->
                                            <div class="modal fade" id="deleteModal{{ user_obj.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Deletar</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                    Você tem certeza de que deseja deletar este item?
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <button type="button" class="btn btn-danger">Deletar</button>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'snippets/pagination.html' %}
            </div>
        </div>
    </div>
</div>
<!-- / Content -->
{% endblock %}

{% block extra_scripts %}
<script>
    function cleanForm() {
        document.getElementById("search-input").value = "";
        document.getElementById("department-select").value = "";
        document.getElementById("searchForm").submit();
    }
</script>
{% endblock %}