{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_head %}
<title>
  ERP &mdash; 
  {% if object %}
  Editar Kit
  {% else %}
  Criar Kit
  {% endif %}
</title>
{% endblock extra_head %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row justify-content-center py-3">
    <div class="col-12 col-md-8">
      <div class="text-center my-2">
        {% if object %}
        <h1>Editar Kit</h1>
        {% else %}
        <h1>Criar Kit</h1>
        {% endif %}
      </div>

      <form method="post" id="branch_form" class="mt-4">
        {% csrf_token %}
        <div class="row justify-content-center g-3">
          <div class="col-12 px-4">

            {{ form|crispy }}

            <div class="submit-row">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">
                Criar
              </button>
                Cancelar
              </button>
            </div>
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}