{% extends 'base.html' %}
{% load static iam_tags %}

{% block extra_styles %}
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
{% endblock %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3"><span class="text-muted fw-light">Permissões /</span> Lista</h4>
    <!-- Permissions List Table -->
    <div class="row card">
        <div class="row p-3">
            {% if user|has_perm:'auth.add_permission' %}
            <div class="col-12 col-md-6">
                <a href="{% url 'accounts:permission_create' %}" class="btn btn-secondary btn-primary" tabindex="0" role="button">
                    <span>
                        <i class="bx bx-plus me-md-1"></i>
                        <span class="d-md-inline-block d-none">Criar Permissão</span>
                    </span>
                </a>
            </div>
            {% endif %}

            <form method="get" class="col-12 col-md-6">
                <div class="input-group">
                    <input id="search-input" type="search" class="form-control" placeholder="Pesquisar permissão"  name="search" value="{{ request.GET.search }}">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="bx bx-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="card-datatable table-responsive">
            <div class="dataTables_wrapper dt-bootstrap5 no-footer">
                <table class="invoice-list-table table border-top dataTable no-footer dtr-column" style="width: 1211px;">
                    <thead>
                        <tr>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 34%;" aria-label=": activate to sort column ascending">Permissão</th>
                            <th tabindex="0" rowspan="1" colspan="1" style="width: 43%;">App | Tabela</th>
                            <th class="cell-fit sorting_disabled" rowspan="1" colspan="1" style="width: 10%;" aria-label="Actions">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for permission in permissions %}
                        <tr>
                            <td>
                                {{ permission.name }}
                            </td>
                            <td><span class="d-none">{{ permission.content_type }}</span>{{ permission.content_type }}
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <a role="button" data-bs-target="#permissionDetailModel" data-bs-toggle="modal"
                                        class="text-body" data-bs-placement="top" aria-label="Ver detalhes"
                                        data-bs-original-title="Ver detalhes"><i class="bx bx-detail mx-1"></i></a>
                                    {% if user|has_perm:'auth.update_permission' %}
                                    <a href="{% url 'accounts:permission_update' permission.codename %}" data-bs-toggle="tooltip" class="text-body" data-bs-placement="top" aria-label="Editar permissão" data-bs-original-title="Editar permissão">
                                        <i class="bx bx-pencil mx-1"></i>
                                    </a>
                                    {% endif %}
                                    {% if user|has_perm:'auth.delete_permission' %}
                                    <a role="button" data-bs-target="#permissionDeleteModel" data-bs-toggle="modal" class="text-body" data-bs-placement="top" aria-label="Deletar permissão" data-bs-original-title="Deletar permissão"><i class="bx bx-trash mx-1"></i></a>
                                    <!-- Modal Deletar Permissão -->
                                    <div class="modal fade" id="permissionDeleteModel" tabindex="-1"
                                        aria-labelledby="permissionDeleteModelLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="permissionDeleteModelLabel">Deletar
                                                        Permissão</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Fechar"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Tem certeza de que deseja deletar esta permissão?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                    <button type="button" class="btn btn-danger">Deletar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <!-- Modal Detalhes da Permissão -->
                                <div class="modal fade" id="permissionDetailModel" tabindex="-1"
                                    aria-labelledby="permissionDetailModelLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="permissionDetailModelLabel">Detalhes da
                                                    Permissão</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Fechar"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Aqui vão os detalhes da permissão...</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'snippets/pagination.html' %}
            </div>
        </div>
    </div>
</div>
<!-- / Content -->
{% endblock %}

{% block extra_scripts %}
<script>
    document.getElementById('search-input').addEventListener('input', function() {
        if (this.value === '') {
            this.form.submit();
        }
    });
</script>
{% endblock %}