{% if messages %}
<div class="d-flex w-100 align-items-center flex-column">
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show mt-4 mb-0 d-inline-block" role="alert" style="width: max-content;">
        <strong>{% if message.tags == 'success' %}Oba!{% elif message.tags == 'error' %}Ops!{% else %}{% endif %}</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}