<!-- Add New Address Modal -->
<div class="modal fade" id="createAddressModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-add-new-address">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3 class="address-title">Adicionar novo endereço</h3>
                    <p class="address-subtitle">Novo endereço para o funcionário</p>
                </div>
                <form id="createAddressForm" class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="id_zip_code">CEP</label>
                                <input type="text" id="id_zip_code" name="zip_code" class="form-control"
                                    placeholder="Digite o CEP para começar" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="id_country">País</label>
                                <input class="form-control" type="text" name="country" id="id_country" value="Brasil">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="id_state">Estado</label>
                                <input type="text" id="id_state" name="state" class="form-control" placeholder="PA" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalAddressCity">Cidade</label>
                                <input type="text" id="id_city" name="city" class="form-control"
                                    placeholder="Digite a cidade aqui" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="id_neighborhood">Bairro</label>
                                <input type="text" id="id_neighborhood" name="neighborhood" class="form-control"
                                    placeholder="Digite o bairro aqui" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="street">Logradouro</label>
                                <input type="text" id="id_street" name="street" class="form-control"
                                    placeholder="Digite a rua, avenida, travessa etc." />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="id_number">Número</label>
                                <input type="text" id="id_number" name="number" class="form-control"
                                    placeholder="Digite o número da casa" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="id_complement">Complemento</label>
                                <input type="text" id="id_complement" name="complement" class="form-control"
                                    placeholder="Digite o complemento aqui" />
                            </div>
                            <div class="col-12 text-center mt-4">
                                <button type="submit" class="btn btn-primary me-sm-3 me-1">
                                    Criar
                                </button>
                                <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal"
                                    aria-label="Close">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/ Add New Address Modal -->