{% if page_obj.has_previous or page_obj.has_next %}
<div class="row justify-content-center m-2">
    <div class="col-sm-12 col-md-6">
        <div class="d-flex justify-content-between dataTables_paginate paging_simple_numbers">

            {% with request.GET.urlencode as querystring %}
            
            <!-- Botão Primeira Página -->
            {% if page_obj.number > 1 %}
            <button class="paginate_button btn btn-secondary page-item d-md-none">
                <a href="?page=1{% if querystring %}&{{ querystring }}{% endif %}" aria-controls="DataTables_Table_0" role="link" data-dt-idx="first" tabindex="0" class="page-link">
                    <i class="bx bx-first-page"></i>
                </a>
            </button>
            {% else %}
            <button class="paginate_button btn btn-secondary page-item disabled d-md-none">
                <a aria-disabled="true" class="page-link">
                    <i class="bx bx-first-page"></i>
                </a>
            </button>
            {% endif %}

            <!-- Dropdown para mobile -->
            <div class="btn-group dropup d-md-none">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="paginationDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Página {{ page_obj.number }} de {{ paginator.num_pages }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="paginationDropdown"
                    style="max-height: 200px; overflow-y: scroll;">
                    
                    <!-- Página anterior -->
                    <li>
                        <a class="dropdown-item {% if not page_obj.has_previous %}disabled{% endif %}" 
                           href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}{% else %}#{% endif %}">
                            Anterior
                        </a>
                    </li>
            
                    <!-- Página próxima -->
                    <li>
                        <a class="dropdown-item {% if not page_obj.has_next %}disabled{% endif %}" 
                           href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}{% else %}#{% endif %}">
                            Próxima
                        </a>
                    </li>
            
                    <!-- Páginas disponíveis -->
                    {% for i in paginator.page_range %}
                    <li>
                        <a class="dropdown-item {% if page_obj.number == i %}active{% endif %}" href="?page={{ i }}{% if querystring %}&{{ querystring }}{% endif %}">
                            Página {{ i }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Botão Última Página -->
            {% if page_obj.number < paginator.num_pages %}
            <button class="paginate_button btn btn-secondary page-item d-md-none">
                <a href="?page={{ paginator.num_pages }}{% if querystring %}&{{ querystring }}{% endif %}" aria-controls="DataTables_Table_0" role="link"
                    data-dt-idx="last" tabindex="0" class="page-link"><i class="bx bx-last-page"></i></a>
            </button>
            {% else %}
            <button class="paginate_button btn btn-secondary page-item disabled d-md-none">
                <a aria-disabled="true" class="page-link"><i class="bx bx-last-page"></i></a>
            </button>
            {% endif %}

            <!-- Paginação para dispositivos médios e grandes -->
            <ul class="pagination d-none d-md-flex">
                {% if page_obj.number > 1 %}
                <li class="paginate_button page-item">
                    <a href="?page=1{% if querystring %}&{{ querystring }}{% endif %}" aria-controls="DataTables_Table_0" role="link" tabindex="0" class="page-link">Primeira</a>
                </li>
                {% else %}
                <li class="paginate_button page-item disabled">
                    <a aria-disabled="true" class="page-link">Primeira</a>
                </li>
                {% endif %}

                {% if page_obj.has_previous %}
                <li class="paginate_button page-item previous">
                    <a href="?page={{ page_obj.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}" aria-controls="DataTables_Table_0"
                        role="link" tabindex="0" class="page-link">Anterior</a>
                </li>
                {% else %}
                <li class="paginate_button page-item previous disabled">
                    <a aria-disabled="true" class="page-link">Anterior</a>
                </li>
                {% endif %}

                {% for i in paginator.page_range %}
                {% if i >= page_obj.number|add:'-2' and i <= page_obj.number|add:'2' %}
                <li class="paginate_button page-item {% if page_obj.number == i %}active{% endif %}">
                    <a href="?page={{ i }}{% if querystring %}&{{ querystring }}{% endif %}" aria-controls="DataTables_Table_0" role="link" tabindex="0" class="page-link">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="paginate_button page-item next">
                    <a href="?page={{ page_obj.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}" aria-controls="DataTables_Table_0"
                        role="link" tabindex="0" class="page-link">Próxima</a>
                </li>
                {% else %}
                <li class="paginate_button page-item next disabled">
                    <a aria-disabled="true" class="page-link">Próxima</a>
                </li>
                {% endif %}

                {% if page_obj.number < paginator.num_pages %}
                <li class="paginate_button page-item">
                    <a href="?page={{ paginator.num_pages }}{% if querystring %}&{{ querystring }}{% endif %}" aria-controls="DataTables_Table_0" role="link"
                        tabindex="0" class="page-link">Última</a>
                </li>
                {% else %}
                <li class="paginate_button page-item disabled">
                    <a aria-disabled="true" class="page-link">Última</a>
                </li>
                {% endif %}
            </ul>
            
            {% endwith %}
        </div>
    </div>
</div>
{% endif %}
