{% extends 'base.html' %}
{% load iam_tags %}

{% block extra_head %}
    <title>
        ERP &mdash; Tipos de Materiais
    </title>
{% endblock extra_head %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Tipos de Materiais /</span> Lista</h4>

    <!-- Invoice List Table -->
    <div class="card">
        <div class="card-datatable table-responsive">
            <div class="card-datatable-header d-flex justify-content-between p-3">
                {% if user|has_perm:'logistics.add_material_type' %}
                <div class="card-datatable-header-actions">
                    <a href="{% url 'logistics:material_type_create' %}" class="btn btn-primary">Novo Tipo de Material</a>
                </div>
                {% endif %}
                <div class="card-datatable-header-actions">
                    <form method="get">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Pesquisar tipo de material" name="search" id="search-input" value="{{ request.GET.search }}">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="bx bx-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="invoice-list-table table border-top">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Criado em<th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for material_type in object_list %}
                    <tr>
                        <td>{{ material_type.name }}</td>
                        <td>{{ material_type.description }}</td>
                        <td>{{ material_type.created_at }}</td>
                        <td></td>
                        <td>
                            <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#material_typeDetailModal{{ material_type.id }}">
                                <i class="bx bx-detail fs-3"></i>
                            </a>
                            {% if user|has_perm:'logistics.change_material_type' %}
                            <a href="{% url 'logistics:material_type_update' material_type.pk %}">
                                <i class="bx bx-edit fs-3"></i>
                            </a>
                            {% endif %}
                            {% if user|has_perm:'logistics.delete_material_type' %}
                            <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#deleteMaterialTypeModal{{ material_type.id }}">
                                <i class="bx bx-trash fs-3"></i>
                            </a>

                            <!-- Delete Material Type Modal -->
                            <div class="modal fade" id="deleteMaterialTypeModal{{ material_type.id }}" tabindex="-1" aria-labelledby="deleteMaterialTypeModal{{ material_type.id }}Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteMaterialTypeModal{{ material_type.id }}Label">Excluir Tipo de Material</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Deseja realmente excluir o tipo de material "{{ material_type.name }}"?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a href="{% url 'accounts:soft_delete' app_label='logistics' model_name='materialtypes' pk=material_type.pk %}" class="btn btn-danger">Excluir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                        </td>
                    </tr>
                    <div class="modal fade animate__animated animate__rotateInUpLeft" id="material_typeDetailModal{{ material_type.id }}"
                        tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="material_typeDetailModal{{ material_type.id }}Label">{{ material_type.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <figure class="col-12 figure text-center mb-3">
                                            <img src="{{ material_type.banner.url }}" class="img-fluid" alt="">
                                            <figcaption class="figure-caption fs-5">{{ material_type.description }}</figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'logistics:material_type_update' material_type.pk %}" class="btn btn-warning">Editar</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">Nenhum material encontrado</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    document.getElementById('search-input').addEventListener('input', function() {
        if (this.value === '') {
            this.form.submit();
        }
    });
</script>
{% endblock extra_scripts %}