{% extends 'base.html' %}

{% block extra_head %}
    <title>403 &mdash; Acesso Negado</title>
{% endblock extra_head %}

{% block content %}
<div class="container-xxl text-center flex-grow-1 container-p-y">
    <h1 class="py-3 mb-4"><span class="text-muted fw-light">
        <i class="bx bx-lock fs-1"></i>
        403 Acesso Negado
    </h1>
    <div class="row">
        <h2>Você não possui permissão para acessar esta página.</h2>
        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-primary me-2" href="{% url 'core:index' %}">Voltar ao início</a>
            <a class="btn btn-primary" href="#">Contate o suporte</a>
        </div>
    </div>
</div>
{% endblock %}