{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row justify-content-center py-3">
    <div class="col-12 col-md-8">
      <div class="text-center my-2">
        {% block form_title %}{% endblock form_title %}
      </div>
    <form method="post" id="id_form" class="mt-4" {% if form.media %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        <div class="row justify-content-center g-3">
            <div class="col-12 px-4">
    
                {{ form|crispy }}
    
                <div class="submit-row">
                    <button class="btn btn-success me-2" type="submit">Salvar</button>
                    {# <a href="#">Voltar para a lista</a> #}
                </div>
    
            </div>
        </div>
    </form>
    </div>
  </div>
</div>
{% endblock content %}
