{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_head %}
<title>
  ERP &mdash;
  {{ object.name }}
</title>
{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row justify-content-center py-3">
        <div class="col-12 col-md-8">
            <div class="text-center my-2">
                <h1 class="text-capitalize">{{ object.name }}</h1>
            </div>
        </div>

        <div class="row justify-content-center my-3">
            <div class="col-12 col-md-6 px-4">
            <div class="card h-100">
                <div class="card-body">
                <h5 class="card-title">Quadros neste Squad</h5>
                <p class="card-text">Quadros:</p>
                <ul class="list-group">
                    {% for board in object.boards.all %}
                    <li class="list-group-item">
                        <a href="{{ board.get_absolute_url }}">
                            {{ board.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            </div>

            <div class="col-12 col-md-6 px-4">
            <div class="card h-100">
                <div class="card-body">
                <h5 class="card-title">Usuários</h5>
                <p class="card-text">Usuários neste squad:</p>
                <ul class="list-group">
                    {% for user_obj in object.members.all %}
                    <li class="list-group-item">
                        <a class="d-flex justify-content-start align-items-center" href="{{ user.get_absolute_url }}">
                            <div class="avatar-wrapper">
                                {% if user_obj.profile_picture %}
                                <img src="{{ user_obj.profile_picture.url }}"
                                    class="avatar pull-up avatar-initial avatar-sm rounded-circle me-2"
                                    alt="{{ user_obj.complete_name }}">
                                {% else %}
                                <div class="avatar avatar-sm me-2"><span
                                        class="avatar-initial rounded-circle bg-label-dark">{{ user_obj.username|slice:1 }}</span></div>
                                {% endif %}
                            </div>
                            <div class="d-flex flex-column">
                                <span class="fw-medium">{{ user_obj.complete_name }}</span>
                                <small class="text-truncate text-muted">{{ user_obj.get_full_name }}</small>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            </div>
        </div>

        <div class="row justify-content-center my-3">
            <div class="col-12 px-4">
                <a href="{% url 'accounts:squad_update' object.pk %}" class="btn btn-primary">Editar</a>
                {# <a href="{% url 'accounts:squad_delete' object.pk %}" class="btn btn-danger">Deletar</a> #}
            </div>
        </div>

    </div>
</div>
{% endblock content %}