{% extends 'base.html' %}
{% load static iam_tags %}

{% block extra_head %}
<title>ERP &mdash; Squads</title>
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
{% endblock %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Squads /</span> Lista</h4>
    <!-- squads List Table -->
    <div class="card">
        <div class="card-datatable table-responsive">
            <div class="dataTables_wrapper dt-bootstrap5 no-footer">
                <div class="row justify-content-between p-4">
                    {% if user|has_perm:'accounts.add_squad' %}
                    <div class="col-12 col-md-6">
                        <div class="dt-buttons btn-squad flex-wrap">
                            <a href="{% url 'accounts:squad_create' %}" class="btn btn-secondary btn-primary" tabindex="0" aria-controls="DataTables_Table_0" role="button">
                                <span>
                                    <i class="bx bx-plus me-md-1"></i>
                                    <span class="d-md-inline-block d-none">Criar squad</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    <form method="get" class="col-12 col-md-6 d-flex" id="search-form">
                        <input type="text" class="form-control" name="name" id="id_name" placeholder="Pesquisar squad" value="{{ request.GET.name }}">
                        <button class="btn btn-sm btn-primary mx-2" type="submit">
                            <i class="bx bx-search"></i>
                        </button>
                        <button type="reset" class="btn btn-sm btn-secondary" onclick="cleanForm()">
                            <i class="bx bx-x"></i>
                        </button>
                    </form>
                </div>
            </div>
            <table class="invoice-list-table table border-top dataTable no-footer dtr-column" id="DataTables_Table_0"
                aria-describedby="DataTables_Table_0_info" style="width: 1211px;">
                <thead>
                    <tr>
                        <th rowspan="1" colspan="1" style="width: 30%;">Squad</th>
                        <th rowspan="1" colspan="1" style="width: 30%;">Quantidade de Membros</th>
                        <th rowspan="1" colspan="1" style="width: 30%;">Quantidade de Quadros</th>
                        <th class="cell-fit sorting_disabled" rowspan="1" colspan="1" style="width: 10%;"
                            aria-label="Ações">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for squad in object_list %}
                    <tr>
                        <td class="text-capitalize">
                            <a href="{% url 'accounts:squad_detail' squad.pk %}">{{ squad.name }}</a>
                        </td>
                        <td>
                            <div class="d-flex align-items-center avatar-group">
                                {% for user in squad.members.all|slice:":5" %}
                                <div class="avatar">
                                    <a href="{{ user.get_absolute_url }}">
                                        <img src="{{ user.profile_picture.url }}" alt="Avatar"
                                            class="rounded-circle pull-up" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-original-title="{{ user.get_full_name }}">
                                    </a>
                                </div>
                                {% empty %}
                                <div class="avatar">
                                    <span class="avatar-initial rounded-circle pull-up bg-secondary"
                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        data-bs-original-title="Nenhum usuário">0</span>
                                </div>
                                {% endfor %}
                                {% with remaining_users=role.user_set.count|add:"-5" %}
                                {% if remaining_users > 0 %}
                                <div class="avatar">
                                    <span class="avatar-initial rounded-circle pull-up bg-secondary"
                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        data-bs-original-title="Mais {{ remaining_users }}">+{{ remaining_users }}</span>
                                </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </td>
                        <td>{{ squad.boards.count }}</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a href="{% url 'accounts:squad_detail' squad.pk %}" data-bs-toggle="tooltip"
                                    class="text-body" data-bs-placement="top" aria-label="Ver detalhes"
                                    data-bs-original-title="Ver detalhes"><i class="bx bx-detail mx-1"></i></a>
                                {% if user|has_perm:'accounts.change_squad' %}
                                <a href="{% url 'accounts:squad_update' squad.pk %}" data-bs-toggle="tooltip"
                                    class="text-body" data-bs-placement="top" aria-label="Editar Perfil"
                                    data-bs-original-title="Editar Perfil"><i class="bx bx-pencil mx-1"></i></a>
                                {% endif %}
                                {% if user|has_perm:'accounts.delete_squad' %}
                                <a href="#squadDeleteModel" data-bs-toggle="tooltip" class="text-body"
                                    data-bs-placement="top" aria-label="Deletar Perfil"
                                    data-bs-original-title="Deletar Perfil"><i class="bx bx-trash mx-1"></i></a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">Nenhum squad encontrado</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'snippets/pagination.html' %}
        </div>
    </div>
</div>
<!-- / Content -->
{% endblock %}

{% block extra_scripts %}
<script>
    function cleanForm() {
        document.getElementById('id_name').value = '';
        document.getElementById("search-form").submit();
    }
</script>
{% endblock %}