{% extends 'base.html' %}
{% load iam_tags %}

{% block extra_head %}
    <title>
        ERP &mdash; Solicitações
    </title>
{% endblock extra_head %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Solicitações da Concessionária /</span> Lista</h4>

    <!-- Invoice List Table -->
    <div class="card">
        <div class="card-datatable table-responsive">
            <div class="card-datatable-header d-flex justify-content-between p-3">
                {% if user|has_perm:'engineering.add_requestsenergycompany' %}
                <div class="card-datatable-header-actions">
                    <a href="{% url 'engineering:requestsenergycompany_create' %}" class="btn btn-primary">Nova solicitação</a>
                </div>
                {% endif %}
                <div class="card-datatable-header-actions">
                    <form method="get">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Pesquisar Solicitação" name="search" id="search-input" value="{{ request.GET.search }}">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="bx bx-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="invoice-list-table table table-hover table-striped border-top">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Concessionária</th>
                        <th>Data da Solicitação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for requestenergycompany in object_list %}
                    <tr>
                        <td>
                            {% if requestenergycompany.status == 'EA' %}
                                <span class="badge bg-primary">Em Andamento</span>
                            {% elif requestenergycompany.status == 'I' %}
                                <span class="badge bg-danger">Indeferido</span>
                            {% elif requestenergycompany.status == 'D' %}
                                <span class="badge bg-warning">Deferido</span>
                            {% endif %}
                        </td>
                        <td>{{ requestenergycompany.company|title }}</td>
                        <td>{{ requestenergycompany.request_date }}</td>
                        <td>
                            <a href="{% url 'engineering:requestsenergycompany_detail' requestenergycompany.pk %}">
                                <i class="bx bx-detail fs-3"></i>
                            </a>
                            {% if user|has_perm:'engineering.change_requestenergycompany' %}
                            <a href="{% url 'engineering:requestsenergycompany_update' requestenergycompany.pk %}">
                                <i class="bx bx-edit fs-3"></i>
                            </a>
                            {% endif %}
                            {% if user|has_perm:'engineering.delete_requestsenergycompany' %}
                            <a href="" role="button" data-bs-toggle="modal" data-bs-target="#requestenergycompanyDeleteModal{{ requestenergycompany.id }}">
                                <i class="bx bx-trash fs-3"></i>
                            </a>

                            <!-- Modal de Exclusão -->
                            <div class="modal fade" id="requestenergycompanyDeleteModal{{ requestenergycompany.id }}" tabindex="-1" aria-labelledby="requestenergycompanyDeleteModal{{ requestenergycompany.id }}Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="requestenergycompanyDeleteModal{{ requestenergycompany.id }}Label">Excluir Solicitação</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Deseja realmente excluir essa solicitação?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a href="{% url 'accounts:soft_delete' app_label='engineering' model_name='requestsenergycompany' pk=requestenergycompany.pk %}" class="btn btn-danger">Excluir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhuma solicitação encontrada</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    document.getElementById('search-input').addEventListener('input', function() {
        if (this.value === '') {
            this.form.submit();
        }
    });
</script>
{% endblock extra_scripts %}
