{% extends 'base.html' %}
{% block extra_head %}
<title>
  Detalhes da Solititação
</title>
{% endblock extra_head %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
      <div class="card mt-4">
        <div class="card-header text-center bg-warning py-2">
          <h1 class="text-dark mb-0">Detalhes da Solititação</h1>
          <h4 class="text-dark">({{ object.company }})</h4>
        </div>
        <div class="card-body mt-4">
          <div class="row">
            <div class="col-12 mb-3">
              <h5>Projeto:</h5>
              <p>{{ object.project|default:"Não está vinculado" }}</p>
            </div>
            <div class="col-12 mb-3">
              <h5>Data da Solicitação:</h5>
              <p>{{ object.request_date }}</p>
            </div>
            {% if conclusion_registred %}
            <div class="col-12 mb-3">
              <h5>Registro da Conclusão:</h5>
              <p>{{ object.updated_at }}</p>
            </div>
            {% endif %}
            <div class="col-12 mb-3">
              <h5>Criado em:</h5>
              <p>{{ object.created_at }}</p>
            </div>
            {% if object.conclusion_registred %}
            <div class="col-12 mb-3">
              <h5>Conclusão Registrada em:</h5>
              <p>{{ object.conclusion_registred }}</p>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="card-footer py-4">
          <a href="{% url 'engineering:requestsenergycompany_update' object.pk %}" class="btn btn-warning me-2">Editar</a>
          <a href="{% url 'engineering:requestsenergycompany_list' %}" class="btn btn-secondary">Voltar</a>
        </div>
      </div>
</div>
{% endblock content %}
