{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet"
    href="{% static 'sneat-template/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
{% endblock %}

{% block content %}

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Quadros /</span> Lista</h4>



        <!-- Quadro List Table -->
        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="row mx-1">
                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start gap-3">
                            <div
                                class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start mt-md-0 mt-3">
                                <div class="dt-buttons btn-group flex-wrap">
                                    <a href="{% url 'core:board-create' %}" class="btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" role="button"><span><i class="bx bx-plus me-md-1"></i><span class="d-md-inline-block d-none">Criar Quadro</span></span></a>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-12 col-md-6 d-flex align-items-center justify-content-end flex-column flex-md-row pe-3 gap-md-3">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search"
                                        class="form-control" placeholder="Pesquisar Quadro"
                                        aria-controls="DataTables_Table_0"></label></div>
                            <div class="invoice_status mb-3 mb-md-0"><select id="UserRole" class="form-select">
                                    <option value="">Selecionar tipo</option>
                                    <option value="T" class="text-capitalize">Tarefa</option>
                                    <option value="L" class="text-capitalize">Lead</option>
                                </select></div>
                        </div>
                    </div>
                    <table class="invoice-list-table table border-top dataTable no-footer dtr-column"
                        id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 1211px;">
                        <thead>
                            <tr>
                                <th class="control sorting dtr-hidden" tabindex="0" aria-controls="DataTables_Table_0"
                                    rowspan="1" colspan="1" style="width: 0px; display: none;"
                                    aria-label=": activate to sort column ascending"></th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 60px;" aria-label=": activate to sort column ascending">Tipo</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 323px;"
                                    aria-label="Client: activate to sort column ascending">Nome</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 137px;"
                                    aria-label="Balance">Criada em</th>
                                <th class="cell-fit sorting_disabled" rowspan="1" colspan="1" style="width: 76px;" aria-label="Actions">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for board in boards %}
                            <tr class="even">
                                <td class="control" tabindex="0" style="display: none;"></td>
                                <td>
                                    {% if board.type == "T" %}
                                        <span class="badge bg-label-warning">{{ board.get_type_display }}</span>
                                    {% elif board.type == "L" %}
                                        <span class="badge bg-label-success">{{ board.get_type_display }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-center">
                                        <div class="d-flex flex-column"><a href="{% url 'core:board-detail' board.pk %}" class="text-body text-truncate"><span class="fw-medium">{{ board.name }}</span></a><small class="text-truncate text-muted">{{ board.created_at }}</small></div>
                                    </div>
                                </td>
                                <td><span class="d-none">{{ board.created_at|date:"Ymd H:i" }}</span>{{ board.created_at|date:"d M Y H:i" }}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:;" data-bs-toggle="tooltip" class="text-body" data-bs-placement="top" aria-label="Enviar e-mail" data-bs-original-title="Enviar e-mail"><i class="bx bx-send mx-1"></i></a>
                                        <a href="{% url 'core:board-detail' board.pk %}" data-bs-toggle="tooltip" class="text-body" data-bs-placement="top" aria-label="Ver Quadro" data-bs-original-title="Ver Quadro"><i class="bx bx-show mx-1"></i></a>
                                        <div class="dropdown">
                                            <a href="javascript:;" class="btn dropdown-toggle hide-arrow text-body p-0" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a href="{% url 'core:board-update' board.pk %}" class="dropdown-item">Editar</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:;" class="dropdown-item delete-record text-danger">Deletar</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'snippets/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
    {% endblock %}

    {% block extra_scripts %}
    <!-- Vendors JS -->
    <!-- <script src="{% static 'sneat-template/assets/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'sneat-template/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script> -->

    <!-- Page JS -->
    <!-- <script src="{% static 'sneat-template/assets/js/app-invoice-list.js' %}"></script> -->
    {% endblock %}