{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_head %}
<title>
  ERP &mdash;
  {% if object %}
  Editar Solicitação de Pagamento
  {% else %}
  Criar Solicitação de Pagamento
  {% endif %}
</title>
<style>
  /* Posicionamento fixo para os alertas no canto superior direito */
  #alert-container {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 1050;
    width: 500px;
  }
</style>
{% endblock extra_head %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row justify-content-center py-3">
    <div id="alert-container" class="container"></div>
    <div class="col-12 col-md-8 col-lg-6 d-flex flex-column align-items-center">
      <div class="text-center my-2">
        {% if object %}
        <h1>Editar Solicitação de Pagamento</h1>
        {% else %}
        <h1>Solicitar Pagamento</h1>
        {% endif %}
      </div>

      <div class="btn-group flex-wrap w-100">
        <button type="button" class="btn btn-info me-1" data-bs-toggle="modal" data-bs-target="#addSupplierModal">
          Adicionar fornecedor
        </button>
        <button type="button" class="btn btn-info me-1" data-bs-toggle="modal" data-bs-target="#addAttachmentModal">
          Adicionar anexo
        </button>
        <button type="button" class="btn btn-info me-1" data-bs-toggle="modal" data-bs-target="#dueDateForecastModal">
          Entender prazos
        </button>
        <a href="mailto:ti@resolvenergiasolar.com" role="button" class="btn btn-info">
          Suporte
        </a>
      </div>

      <div class="modal fade" id="addSupplierModal" tabindex="-1" aria-labelledby="addSupplierModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addSupplierModalLabel">Adicionar Fornecedor</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="supplierName" class="form-label">Nome do fornecedor</label>
                  <input type="text" class="form-control" id="supplierName">
                </div>
                <div class="mb-3">
                  <label for="supplierCPFCNPJ" class="form-label">CPF/CNPJ do fornecedor</label>
                  <input type="text" class="form-control mask-cpf-cnpj" id="supplierCPFCNPJ">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary">Adicionar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addAttachmentModal" tabindex="-1" aria-labelledby="addAttachmentModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addAttachmentModalLabel">Adicionar Anexo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h5>Para adicionar um anexo, primeiro faça a solicitação.</h5>
              <p>Depois de fazer sua solicitação, você poderá adicionar anexos a ela.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="dueDateForecastModal" tabindex="-1" aria-labelledby="dueDateForecastModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="dueDateForecastModalLabel">Prazos para Pagamentos</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h5>Prazos determinados pelo setor financeiro</h5>
              <table class="table table-striped table-hover table-bordered">
                <tr>
                  <th>Valor</th>
                  <th>Prazo</th>
                </tr>
                <tr>
                  <td>Até R$ 3.000,00</td>
                  <td>2 dias úteis</td>
                </tr>
                <tr>
                  <td>De R$ 3.000,01 a R$ 6.000,00</td>
                  <td>3 dias úteis</td>
                </tr>
                <tr>
                  <td>De R$ 6.000,01 a R$ 10.000,00</td>
                  <td>4 dias úteis</td>
                </tr>
                <tr>
                  <td>De R$ 10.000,01 a R$ 20.000,00</td>
                  <td>10 dias úteis</td>
                </tr>
                <tr>
                  <td>Acima de R$ 20.000,01</td>
                  <td>15 dias úteis</td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>

      <form method="post" id="branch_form" class="w-100 mt-4">
        {% csrf_token %}
        <div class="row justify-content-center g-3">
          <div class="col-12 px-4">

            {{ form|crispy }}

            <div class="submit-row">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">
                Criar
              </button>
              <a href="{% url 'financial:payment_request_list' %}">Voltar para a lista</a>
            </div>

          </div>
        </div>
    </div>
    </form>
  </div>
</div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
  integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(function () {
    // Aplicar máscara
    $('.mask-money').mask('000.000.000.000.000,00', { reverse: true });

    $('.mask-cpf-cnpj').on('input', function () {
      var value = $(this).val().replace(/\D/g, '');
      if (value.length > 11) {
        $(this).mask('00.000.000/0000-00', { reverse: true });
      } else {
        $(this).mask('000.000.000-00', { reverse: true });
      }
    }).trigger('input').attr('maxlength', '18');

    // Converter o valor antes do envio do formulário
    $('form').on('submit', function () {
      // Capturar o valor e substituir a vírgula por ponto
      var value = $('#id_amount').val().replace(/\./g, '').replace(',', '.');
      $('#id_amount').val(value);
    });
  });

  /**
   * Exibe um alerta do Bootstrap.
   * @param {string} message - Mensagem a ser exibida no alerta.
   * @param {string} type - Tipo de alerta (e.g., 'success', 'danger', 'warning', 'info').
  */
  function showBootstrapAlert(message, type) {
    // Cria o elemento do alerta
    var alert = $(`
         <div class="alert alert-${type} alert-dismissible fade show" role="alert">
             ${message}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
          </div>`);

    // Adiciona o alerta ao contêiner
    $('#alert-container').append(alert);

    // Opcional: Remover o alerta após alguns segundos
    setTimeout(function () {
      alert.alert('close');
    }, 5000); // Remove após 5 segundos
  }

  // Manipulador de clique para adicionar fornecedor
  $('#addSupplierModal button.btn-primary').on('click', function () {
    var name = $('#supplierName').val().trim();
    var cpfcnpj = $('#supplierCPFCNPJ').val().replace(/\D/g, '');
    var csrftoken = getCookie('csrftoken');

    // Validação no lado do cliente
    if (!name || !cpfcnpj) {
      showBootstrapAlert('Por favor, preencha todos os campos obrigatórios.', 'warning');
      return;
    }

    $.ajax({
      url: '{% url "financial:create_supplier" %}',
      type: 'POST',
      data: JSON.stringify({
        name: name,
        cpfcnpj: cpfcnpj
      }),
      contentType: 'application/json',
      beforeSend: function (xhr) {
        xhr.setRequestHeader('X-CSRFToken', csrftoken);
      },
      success: function (response) {
        // Exibir alerta de sucesso
        showBootstrapAlert('Fornecedor criado com sucesso!', 'success');

        // Opcional: Atualizar a interface do usuário ou limpar campos
        // $('#supplierName').val('');
        // $('#supplierCPFCNPJ').val('');
      },
      error: function (xhr, status, error) {
        // Tratar a resposta de erro
        var errorMessage = 'Erro ao criar fornecedor.';
        try {
          var response = JSON.parse(xhr.responseText);
          if (response.error) {
            errorMessage += ' ' + response.error;
          }
        } catch (e) {
          errorMessage += ' ' + xhr.statusText;
        }
        // Exibir alerta de erro
        showBootstrapAlert(errorMessage, 'danger');
      }
    });

    // Fechar o modal após a ação (opcional)
    $('#addSupplierModal').modal('hide');
  });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  $(document).ready(function () {

    // Função para extrair nome e CPF do texto da opção
    function extrairDadosFornecedor(texto) {
      var partes = texto.split(' - ');
      if (partes.length === 2) {
        return {
          nome: partes[0].trim(),
          cpf: partes[1].trim()
        };
      }
      return {
        nome: '',
        cpf: ''
      };
    }

    // Evento de seleção no Select2
    $('#id_supplier').on('select2:select', function (e) {
      var textoSelecionado = $(this).find('option:selected').text();
      var dados = extrairDadosFornecedor(textoSelecionado);

      $('#id_supplier_name').val(dados.nome);
      $('#id_supplier_cpf').val(dados.cpf);
    });

    // Preencher campos ocultos se houver um valor selecionado ao carregar a página
    var textoSelecionadoInicial = $('#id_supplier').find('option:selected').text();
    if ($('#id_supplier').val()) {
      var dadosIniciais = extrairDadosFornecedor(textoSelecionadoInicial);
      $('#id_supplier_name').val(dadosIniciais.nome);
      $('#id_supplier_cpf').val(dadosIniciais.cpf);
    }
  });


  function checkFieldsAndEnableDueDate() {
    const amount = document.getElementById('id_amount').value;
    const category = document.getElementById('id_category').value;
    const dueDateInput = document.getElementById('id_due_date');
    var csrftoken = getCookie('csrftoken');

    if (amount && category) {
      // Faz a solicitação para a API
      fetch('/financeiro/solicitacao-de-pagamento/calcular-vencimento/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({ amount: amount, category: category }),
      })
        .then(response => response.json())
        .then(data => {
          const dueDate = data.due_date;
          // Verifica se a data foi retornada corretamente
          if (dueDate) {
            dueDateInput.disabled = false;
            dueDateInput.min = dueDate;
            dueDateInput.value = dueDate;
          } else {
            console.error("Erro ao calcular a data mínima");
            dueDateInput.disabled = true;
          }
        })
        .catch(error => {
          console.error("Erro na solicitação para a API", error);
          dueDateInput.disabled = true;
        });
    } else {
      dueDateInput.disabled = true;
    }
  }

  // Desabilita o campo inicialmente
  document.getElementById('id_due_date').disabled = true;

  // Adiciona eventos de verificação em todos os campos obrigatórios
  document.getElementById('id_amount').addEventListener('change', checkFieldsAndEnableDueDate);
  document.getElementById('id_category').addEventListener('change', checkFieldsAndEnableDueDate);
</script>
{% endblock extra_scripts %}