{% extends 'base.html' %}
{% load iam_tags %}

{% block extra_head %}
    <title>
        ERP &mdash; Solicitação de Pagamento
    </title>
{% endblock extra_head %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Solicitação de Pagamento /</span> Lista</h4>

    <!-- Invoice List Table -->
    <div class="card">
        <div class="card-datatable table-responsive">
            <div class="row card-datatable-header d-flex align-items-center justify-content-between p-3">
                {% if user|has_perm:'financial.add_paymentrequest' %}
                <div class="col-3 card-datatable-header-actions">
                    <a href="{% url 'financial:payment_request_create' %}" class="btn btn-primary">
                        <i class="bx bx-plus"></i>
                        <span class="d-none d-md-block">Nova Solicitação de Pagamento</span>
                    </a>
                    <a href="{% url 'financial:payment_request_list' %}" class="btn btn-secondary mt-2">
                        <i class="bx bx-reset"></i>
                        <span class="d-none d-md-block">Limpar Filtro</span>
                    </a>
                </div>
                {% endif %}
                <div class="col-9 card-datatable-header-actions">
                    <form method="get" id="filter-form">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <input type="search" class="form-control" placeholder="Pesquisar por protocolo" name="protocol" id="protocol-input" value="{{ request.GET.protocol }}">
                            </div>
                            <div class="col-6 mb-3">
                                <input type="search" class="form-control" placeholder="Pesquisar por descrição" name="search" id="search-input" value="{{ request.GET.search }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="due_date" class="form-label">Data de Vencimento</label>
                                <input type="date" class="form-control" name="due_date" id="due_date" value="{{ request.GET.due_date }}">
                            </div>
                            <div class="col-md-3">
                                <label for="requesting_status" class="form-label">Status Geral</label>
                                <select class="form-select" name="requesting_status" id="requesting_status">
                                    <option value="">Todos</option>
                                    <option value="Solicitado" {% if request.GET.requesting_status == "Solicitado" %}selected{% endif %}>Solicitado</option>
                                    <option value="Em andamento" {% if request.GET.requesting_status == "Em andamento" %}selected{% endif %}>Em andamento</option>
                                    <option value="Aprovado" {% if request.GET.requesting_status == "Aprovado" %}selected{% endif %}>Aprovado</option>
                                    <option value="Reprovado" {% if request.GET.requesting_status == "Reprovado" %}selected{% endif %}>Reprovado</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="manager_status" class="form-label">Status do Gerente</label>
                                <select class="form-select" name="manager_status" id="manager_status">
                                    <option value="">Todos</option>
                                    <option value="Pendente" {% if request.GET.manager_status == "Pendente" %}selected{% endif %}>Pendente</option>
                                    <option value="Aprovado" {% if request.GET.manager_status == "Aprovado" %}selected{% endif %}>Aprovado</option>
                                    <option value="Reprovado" {% if request.GET.manager_status == "Reprovado" %}selected{% endif %}>Reprovado</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="financial_status" class="form-label">Status Financeiro</label>
                                <select class="form-select" name="financial_status" id="financial_status">
                                    <option value="">Todos</option>
                                    <option value="Pendente" {% if request.GET.financial_status == "Pendente" %}selected{% endif %}>Pendente</option>
                                    <option value="Lançado" {% if request.GET.financial_status == "Lançado" %}selected{% endif %}>Lançado</option>
                                    <option value="Pago" {% if request.GET.financial_status == "Pago" %}selected{% endif %}>Pago</option>
                                    <option value="Reprovado" {% if request.GET.financial_status == "Reprovado" %}selected{% endif %}>Reprovado</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <table class="invoice-list-table table border-top mb-3">
                <thead>
                    <tr>
                        <th>Protocolo</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment_request in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'financial:payment_request_detail' payment_request.pk %}">{{ payment_request.protocol }}</a>
                        </td>
                        <td>{{ payment_request.description|truncatewords:'5' }}</td>
                        <td>R$ {{ payment_request.amount|floatformat:'2' }}</td>
                        <td>
                            {% if payment_request.requesting_status == "Concluído" %}
                                <span class="badge bg-success">{{ payment_request.requesting_status }}</span>
                            {% elif payment_request.requesting_status == "Em andamento" %}
                                <span class="badge bg-warning">{{ payment_request.requesting_status }}</span>
                            {% elif payment_request.requesting_status == "Solicitado" %}
                                <span class="badge bg-info">{{ payment_request.requesting_status }}</span>
                            {% else %}
                                <span class="badge bg-danger">{{ payment_request.requesting_status }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="#" role="button" data-bs-toggle="offcanvas" data-bs-target="#paymentRequestDetailOffcanvas{{ payment_request.id }}">
                                <i class="bx bx-detail fs-3"></i>
                            </a>
                            {% if user|has_perm:'financial.change_paymentrequest' %}
                            <a href="{% url 'financial:payment_request_update' payment_request.pk %}">
                                <i class="bx bx-edit fs-3"></i>
                            </a>
                            {% endif %}
                            {% if user|has_perm:'financial.delete_paymentrequest' %}
                            <a href="" role="button" data-bs-toggle="modal" data-bs-target="#payment_requestDeleteModal{{ payment_request.id }}">
                                <i class="bx bx-trash fs-3"></i>
                            </a>
                            <!-- Modal de exclusão -->
                            <div class="modal fade" id="payment_requestDeleteModal{{ payment_request.id }}" tabindex="-1" aria-labelledby="payment_requestDeleteModal{{ payment_request.id }}Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="payment_requestDeleteModal{{ payment_request.id }}Label">Excluir Material</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Deseja realmente excluir este material?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            {# <a href="{% url 'accounts:soft_delete' app_label='financial' model_name='payment_request' pk=payment_request.pk %}" class="btn btn-danger">Excluir</a> #}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </td>
                                            <!-- Offcanvas Detalhes -->
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="paymentRequestDetailOffcanvas{{ payment_request.id }}" aria-labelledby="paymentRequestDetailOffcanvasLabel{{ payment_request.id }}">
                        <div class="offcanvas-header bg-primary">
                            <h5 class="offcanvas-title" id="paymentRequestDetailOffcanvasLabel{{ payment_request.id }}" style="color: black;">Solicitação nº {{ payment_request.protocol }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            {% if user.is_staff %}
                                <p><strong>ID Omie:</strong> {{ payment_request.id_omie|default:"Não possui" }}</p>
                                <p><strong>ID do Fornecedor no Omie:</strong> {{ payment_request.supplier }}</p>
                                <p><strong>ID da Categoria no Omie:</strong> {{ payment_request.category }}</p>
                                <hr>
                            {% endif %}
                            
                            <p><strong>Requisitante:</strong> {{ payment_request.requester.preferred_name }}</p>
                            <p><strong>Gestor:</strong> {{ payment_request.manager.preferred_name }}</p>
                            <p><strong>Setor:</strong> {{ payment_request.department.name }}</p>
                            <hr>
                            
                            <p><strong>Fornecedor:</strong> {{ payment_request.supplier_name|default:"Não informado" }}</p>
                            <p><strong>Categoria:</strong> {{ payment_request.category_name|default:"Não informado" }}</p>
                            <p><strong>Venda:</strong> {{ payment_request.id_sale|default:"Não informado" }}</p>
                            <p><strong>Descrição:</strong> {{ payment_request.description|linebreaks }}</p>
                            <p><strong>Valor:</strong> R$ {{ payment_request.amount|floatformat:'2' }}</p>
                            <p><strong>Data de Serviço:</strong> {{ payment_request.service_date }}</p>
                            <p><strong>Data de Vencimento:</strong> {{ payment_request.due_date }}</p>
                            <p><strong>Setor Causador:</strong> {{ payment_request.causative_department.name }}</p>
                            <p><strong>Forma de Pagamento:</strong> {{ payment_request.payment_method }}</p>
                            <hr>
                            
                            <p><strong>Status da Requisição:</strong> {% if payment_request.requesting_status == "Concluído" %}
                                <span class="badge bg-success">{{ payment_request.requesting_status }}</span>
                            {% elif payment_request.requesting_status == "Em andamento" %}
                                <span class="badge bg-warning">{{ payment_request.requesting_status }}</span>
                            {% elif payment_request.requesting_status == "Solicitado" %}
                                <span class="badge bg-info">{{ payment_request.requesting_status }}</span>
                            {% else %}
                                <span class="badge bg-danger">{{ payment_request.requesting_status }}</span>
                            {% endif %}</p>
                            <p><strong>Status do Gestor:</strong> {% if payment_request.manager_status == "Pendente" %}
                                <span class="badge bg-warning">{{ payment_request.manager_status }}</span>
                            {% elif payment_request.manager_status == "Aprovado" %}
                                <span class="badge bg-success">{{ payment_request.manager_status }}</span>
                            {% else %}
                                <span class="badge bg-danger">{{ payment_request.manager_status }}</span>
                            {% endif %} {% if payment_request.manager_status_completion_date %}em {{ payment_request.manager_status_completion_date }}{% endif %}</p>
                            
                            <p><strong>Status Financeiro:</strong> {% if payment_request.financial_status == "Pendente" %}
                                <span class="badge bg-warning">{{ payment_request.financial_status }}</span>
                            {% elif payment_request.financial_status == "Lançado" %}
                                <span class="badge bg-info">{{ payment_request.financial_status }}</span>
                            {% elif payment_request.financial_status == "Pago" %}
                                <span class="badge bg-success">{{ payment_request.financial_status }}</span>
                            {% else %}
                                <span class="badge bg-danger">{{ payment_request.financial_status }}</span>
                            {% endif %} {% if payment_request.financial_status_completion_date %}em {{ payment_request.financial_status_completion_date }}{% endif %}</p>
                            <p><strong>Número da NF:</strong> {{ payment_request.invoice_number|default:"Não informado" }}</p>
                            <hr>
                            
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Fechar</button>
                        </div>
                    </div>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">Nenhuma solicitação de pagamento encontrada.</td>
                        </tr>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'snippets/pagination.html' %}
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obter o formulário
        var form = document.getElementById('filter-form');

        // Adicionar evento de escuta ao campo de busca
        var searchInput = document.getElementById('search-input');
        searchInput.addEventListener('input', function() {
            form.submit();
        });

        var protocolInput = document.getElementById('protocol-input')
        protocolInput.addEventListener('input', function() {
            form.submit();
        });

        // Adicionar evento de escuta aos selects
        var selects = document.querySelectorAll('select');
        selects.forEach(function(select) {
            select.addEventListener('change', function() {
                form.submit();
            });
        });

        // Adicionar evento de escuta ao campo de data
        var dateInput = document.getElementById('due_date');
        dateInput.addEventListener('change', function() {
            form.submit();
        });
    });
</script>
{% endblock extra_scripts %}